@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 1.1rem;
    font-family: 'Changa', sans-serif ;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(54, 54, 54);
}

html{
    scroll-behavior: smooth;
}


body{
    min-height:100%;
    height:auto !important;
    height:100%;
    overflow: 0;
    transition: .4;
}

.container {
    height: 100vh;
}

.darkmodebody {
    filter: invert(1) hue-rotate(180deg);
    transition: .4s;

}





.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section{
    background-color: aliceblue;
}



.body-image img {
    margin-top: -1rem;
    margin-left: 20%;
    height: 80vh;
}


.body-description {
    padding: 4rem;
    font-size: 3rem;

}


.body-p {
    margin: 1rem 0rem 2rem 10%;
    font-size: 1.3rem;
    text-align: right;
}

.btn-give {
    margin: 1rem 3rem;
    padding: .5rem 1rem 1rem 1rem;
    background-color: rgb(0, 255, 55);
    font-size: 2rem;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.555);
    transition: .5s;
}

.btn-find {
    margin: 2rem 3rem;
    padding: .5rem 1rem 1rem 1rem;
    background-color: cyan;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.541);
    transition: .5s;
}

.btn-find:hover {
    background-color: black;
    transform: scale(1.1);
    transition: .5s;
    color: white;
    font-size: 2.03rem;
}

.btn-give:hover {
    background-color: black;
    transform: scale(1.1);
    transition: .5s;
    color: white;
    font-size: 2.03rem;
}



.section {
    
    scroll-snap-align: start;

}


.tirth-section{
    background-color: aliceblue;
    position: relative;
}

.need-title{
    text-align: center;
    padding: 4rem 2rem 1rem 0rem;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(58, 2, 110);
}

.tirth-section p{
 color: rgb(111, 63, 126);
    padding: 0rem 2rem;
    float: right;
    font-size: 1.6rem;
    width: 75%;
}

.need-ul{
    padding: 1rem 6rem;
    width: 75vw;
    float: right;
    line-height: 3rem;
    z-index: 100;

}

.need-li{
    font-size: 1.4rem;
    color: rgb(78, 80, 82)
    
}


.need-image img{
    height: 40rem;
    padding: 2rem 2rem;
    position: absolute;
    bottom: -2rem;
    left: -3rem;
    z-index: 100;
}


.tri-wave{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
left: 0;
z-index: 98;
}



.fourt-section{
    
    background-image: linear-gradient(to top ,white, aliceblue );

    
}




.second-section{
    background-image: linear-gradient(to bottom ,white,white,  aliceblue);
}


.good-image {
    text-align: center;
}

.good-image img {
    height: 6rem;
    width: 6rem;

}

.good-title {
    padding: 1rem 2rem 0rem 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(64, 6, 112);
}

.good-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good-element {
    margin-top: 3rem;
    padding: 0rem 4rem;
}



.good-element-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(4, 8, 139);
}

.good-element-description {
    font-size: 1rem;
    margin-top: .5rem;
    text-align: center;
    color: rgba(0, 4, 7, 0.74);
    font-weight: 400;

}

.svg-good {
    position: absolute;
    bottom: 0;
    left: 0;
}



.map-title{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(69, 31, 100);
    text-align: center;
    height: 20vh;
}

.maps{
    padding: 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.maps-des{
    padding: 1rem;
    width: 45vw;
    height: 70vh;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 15px 2px lightgray;
    display: block;
    justify-content: center;
}

.close-image{
    text-align: center;
}

.close-image img{
    height: 8rem;
}

.close-title{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(63, 58, 58);
}

.close-time-wraper{
    padding: .5rem;
}

.close-regular{
    text-align: center;
    font-size: 1.25rem;
}

.close-regular-time{
    text-align: center;
}

.close-separator{
    margin-right: 10%;
    margin-left: 10%;
    height: 1px;
    width: 80%;
    background-color: black;
    border-radius: 50%;
}

.map{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 2px lightgray;
    height: 70vh;
    
}

.map iframe{
    width: 45vw;
    height: 100%;
    
}

.map-svg{
    position: absolute;
    top: 0;
    left: 0;
   
}






.back-to-top{
    display: none;
    margin: 1rem;
    bottom: 0;
    right: 0;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    opacity: .4;
}
.back-to-top:hover{
    transition: .4s;
    transform: scale(1.1);
    opacity: 1;
}

.back-to-top img{
    width: 3rem;

}

.preloader-gif{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    z-index: 100;
    background-color: aliceblue;
}

.big{
    position: absolute;
    height: 4rem;
    width: 4rem;
    border: 3px solid black;
    border-radius: 50%;
    border-top-color: black;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.small{
    position: absolute;
    height: 3rem;
    width: 3rem;
    border: 3px solid black;
    border-radius: 50%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: transparent;
    animation-name: rotation;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
          
    }
}

::-webkit-scrollbar{ 
   width: 0%;
}


.fith-section{
    background-color: white;
    background-image: linear-gradient(to bottom, white, aliceblue);
}


.go-title{
    text-align: center;
    padding: 1rem 2rem 3rem 0rem;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(58, 2, 110);
    height: 20vh;
}

.donation-steps{
    display: block;
    justify-content: center;
    width: 100%;
    height: 80vh;
    align-items: center;
    
}

.donation-step p{
    height: 20vh;
    font-size: 1.1rem;
    font-weight: 500;
}


.right{
    text-align: center;
    padding: 1rem 2rem 1rem 5rem;
    width: 51%;
    float: right;
    
}

.left{
    text-align: center;
    padding: 1rem 6rem 2rem 1rem;
    width: 51%;
    float: left;
    
}












.count{
    position: relative;
    height: 100vh;
    align-items: center;
    z-index: 100;;
}

.counter{
    position: absolute;
    right: 47%;
    top: 4%;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100hv;
}

.number{
    margin-bottom: 3rem;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    text-align: center;
    border: 3px solid lightgray;
    color: black;
    background-size: contain;
    background-repeat: no-repeat;
}

.ic-1{
    background-image: url('../_images/instrinction-1.png');
    background-color: white;
}

.ic-2{
    background-image: url('../_images/instrinction-2.png') ;
    background-color: rgba(200, 21, 21, 0.761);   
}

.ic-3{
    background-image: url('../_images/himan.png') ;
    background-color: rgb(210, 249, 214); 
}

.ic-4{
    background-image: url('../_images/insrtinction-3.png');
    background-color: white;
}



.separator{
    margin-top: -3rem;
    position: absolute;
    right: 50%;
    height: 3rem;
    background-color: lightgray;
    width: 3px;

}

.about-section{
    position: relative;
    background-image: linear-gradient(to bottom, white, aliceblue);
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.726);
}


.opinion-title-up{
    padding: 1rem 0rem 1rem 0rem;
     font-size: 2rem;
     font-weight: 500;
     text-align: center;
     color: rgb(73, 20, 122);
}

.opinions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
}

.opinion{
    height: 45vh;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 5px lightgray;
}

.opinion-image{
    text-align: center;
}

.opinion-image img{
    height: 5rem;
    border: 2px solid blue;
    border-radius: 50%;
    background-size: cover;
}


.opinion-stars img{
    height: 1rem;
}

.opinion-name{
    text-align: center;
    font-size: 1.5rem;
}

.opinion-stars{
    text-align: center;
}

.opinion-opinion{
    padding: .5rem 1rem;
    font-size: 1rem;
    text-align: center;
}
.register-flow{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.74);
    transition: all .5s linear;
    z-index: 104;
    visibility: hidden;
    opacity: 0;
}

.register-flow:target{
    visibility: visible;
    opacity: 1;
}

.register-form{
    padding: 0rem 1rem 1rem 1rem;
    position: absolute;
    width: 60%;
    background-color: white;
    border-radius: 5px;
}

.register-form-close{
    margin: .5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}

.register-title{
    margin:  1rem 0rem 0rem 0rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.register-description{
    padding: .5rem 15%;
    color: red;
    text-align: center;
    font-size: 1rem;
}

.register-container{
    display: block;
}

.register-row{
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.rigister-col{
    width: 50%;
    text-align: center;
}
.rigister-col input{
    width: 90%;
    border-radius: 5px;
    border: 2px solid gray;
    text-align: center;
}

.rigister-col input:hover{
    border: 2px solid skyblue;
    transform: scale(1.01);
}

.rigister-col select{
    padding: 3px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid gray;
    text-align-last: center;
   text-align: center;
   -ms-text-align-last: center;
   -moz-text-align-last: center;
}

.rigister-col select:hover{
    border: 2px solid skyblue;
    transform: scale(1.01);
}

.rigister-col div{
    padding: .5rem 0rem;
    margin-right: 6%;
    font-size: 1.2rem;
}

.submit-wraper{
    width: 100%;
    text-align: center;
}

.submit-form{
    margin: 2rem 0rem 1rem 0rem;
    padding: .5rem 1rem;
    width: 20%;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgb(0, 255, 0);
    border: 1px solid gray;
    border-radius: 5px;
}

.submit-form:hover{
    background-color: black;
    color: white;
    transform: scale(1.05);
    transition: .4s;
}


.find-flow{
    padding-top: 5%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 100;  
    visibility: hidden;
    opacity: 0; 
}

.find-flow:target{
    visibility: visible;
    opacity: 1;
}

.find-form{
    padding: 0rem 1rem 1rem 1rem;
    width: 50vw;
    background-color: white;
    border-radius: 5px;
}


.find-form-close{
    padding: .5rem;
    top: 0;
    right: 0;
    color: red;
    font-size: 1.5rem;
}
.find-form-title{
    margin-top: -1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

@media(max-width: 1400px){
    .btn-give {
        margin: 0rem 2rem;
        padding: .5rem 1rem 1rem 1rem;
        font-size: 1.7rem;
    }
    
    .btn-find {
        margin: 0rem 2rem;
        padding: .5rem 1rem 1rem 1rem;
        font-size: 1.7rem;
    }

    .btn-find:hover {
        background-color: black;
        transform: scale(1.1);
        transition: .5s;
        color: white;
        font-size: 1.8rem;
    }
    
    .btn-give:hover {
        background-color: black;
        transform: scale(1.1);
        transition: .5s;
        color: white;
        font-size: 1.8rem;
    }
    .body-image img {
        margin-top: -1rem;
        margin-left: 20%;
        height: 70vh;
    }
    .good-title {
        font-size: 2.5rem;
    }
    .need-title{
        font-size: 2.5rem;
    }
    .go-title{
        padding-bottom: 0rem;
        font-size: 2.5rem;
    }
    .tirth-section p{
        color: rgb(111, 63, 126);
           padding: 0rem 1rem;
           float: right;
           font-size: 1.3rem;
           width: 75%;
       }
       .need-li{
        font-size: 1.2rem;
        
        
    }
    
    
    .need-image img{
        height: 35rem;
        padding: 2rem 1rem;
        position: absolute;
        bottom: -2rem;
        left: -3rem;
        z-index: 100;
    }

    .opinion-1{
        display: none;
    }
}

@media (max-width: 1250px) {
    .body-image img {
        margin-top: -1rem;
        margin-left: 10%;
        height: 60vh;
    }
    .need-image img{
        height: 30rem;
    }
    
}

@media(max-width: 1150px){
    .body-image img {
        display: none;
    }
}

@media(max-width: 1010px){
    .opinion-2{
        display: none;
    }
}