@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 1.1rem;
    font-family: 'Changa', sans-serif ;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(54, 54, 54);
}

html{
    scroll-behavior: smooth;
}

body,
html {
    background-color: white;
    scroll-snap-type: y mandatory;
}

body{
    height: 100vh;
    overflow: 0;
}

.container {
    height: 100vh;
}

.darkmodebody {
    filter: invert(1) hue-rotate(180deg);
    transition: .6s;

}





.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section{
    background-color: aliceblue;
}

.navigation {
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navigation-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
}

.logoimage {
    height: 7rem;

}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.nav-elements li a {
    padding: 1rem;
    text-decoration: none;
    color: rgb(20, 2, 85);
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-elements li a:hover {
    color: rgb(137, 0, 250);
    transition: .4s;
    transform: scale(2);
}

.nav-elements li:hover {
    transform: scale(1.1);
    transition: .4s;
}



.darkmode img {
    border: 3px solid black;
    height: 3rem;
    border-radius: 50%;


}

.darkmode:hover {
    transform: scale(1.1);
    filter: invert(0.5);
    transition: .7s;
}

.body-image img {
    margin-top: -1rem;
    margin-left: 20%;
    height: 80vh;
}


.body-description {
    padding: 4rem;
    font-size: 3rem;

}


.body-p {
    margin: 1rem 0rem 2rem 10%;
    font-size: 1.3rem;
    text-align: right;
}

.btn-give {
    margin: 1rem 3rem;
    padding: .5rem 1rem 1rem 1rem;
    background-color: rgb(0, 255, 55);
    font-size: 2rem;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.555);
    transition: 1s;
}

.btn-find {
    margin: 2rem 3rem;
    padding: .5rem 1rem 1rem 1rem;
    background-color: cyan;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.541);
    transition: 1s;
}

.btn-find:hover {
    background-color: black;
    transform: scale(1.1);
    transition: 1s;
    color: white;
    font-size: 2.03rem;
}

.btn-give:hover {
    background-color: black;
    transform: scale(1.1);
    transition: 1s;
    color: white;
    font-size: 2.03rem;
}



.section {
    height: 100vh;
    scroll-snap-align: start;

}


.tirth-section{
    background-color: aliceblue;
    position: relative;
}

.need-title{
    padding: 4rem 2rem 1rem 0rem;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(58, 2, 110);
}

.tirth-section p{
 color: rgb(111, 63, 126);
    padding: 0rem 2rem;
    float: right;
    font-size: 1.6rem;
    width: 75%;
}

.need-ul{
    padding: 1rem 6rem;
    width: 75vw;
    float: right;
    line-height: 3rem;
    z-index: 100;

}

.need-li{
    font-size: 1.4rem;
    color: rgb(78, 80, 82)
    
}


.need-image img{
    height: 40rem;
    padding: 2rem 2rem;
    position: absolute;
    bottom: -2rem;
    left: -3rem;
    z-index: 100;
}


.tri-wave{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
left: 0;
z-index: 98;
}



.fourt-section{
    background-image: linear-gradient(to bottom ,white, aliceblue );
    
}




.second-section{
    background-image: linear-gradient(to bottom ,white,white,  aliceblue);
}


.good-image {
    text-align: center;
}

.good-image img {
    height: 6rem;
    width: 6rem;

}

.good {

    height: 100%;
}

.good-title {
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(64, 6, 112);
}

.good-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good-element {
    margin-top: 3rem;
    padding: 0rem 4rem;
}



.good-element-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(4, 8, 139);
}

.good-element-description {
    font-size: 1rem;
    margin-top: .5rem;
    text-align: center;
    color: rgba(0, 4, 7, 0.74);
    font-weight: 400;

}

.svg-good {
    position: absolute;
    bottom: 0;
    left: 0;
}

.map-title{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(69, 31, 100);
    text-align: center;
}

.maps{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maps-des{
    height:70vh;
    width: 40vw;
    background-color: blue;
}

.map iframe{
    width: 60vw;
    height: 70vh;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    box-shadow: 3px 3px 10px lightgray;
}

.back-to-top{
    display: none;
    margin: 2rem;
    bottom: 0;
    right: 0;
    position: fixed;
    cursor: pointer;
    z-index: 100;
}
.back-to-top:hover{
    transition: .4s;
    transform: scale(1.1);
}

.back-to-top img{
    width: 3.5rem;

}

.preloader-gif{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    z-index: 100;
    background-color: white;
}

.styler{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.progress{
    position: absolute;
    height: 5rem;
    width:5rem;
    background-color: red;
}

.progress div {
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: white;
    animation-name: color;
    animation-duration: 4s;
    animation-delay: 1s;
    z-index: 99;
    
}

.gif{
    position: absolute;
    height: 10rem;
    width: 10rem;
    background-image: url(../_images/loader-heart.png);
    background-size: cover;
    z-index: 100;
}



@keyframes color {
    from{
        height: 100%;
    }
    to{
        height: 1%;
    }
}


@keyframes preloading {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
          
    }
}


::-webkit-scrollbar{ 
   
}


.fith-section{
    background-color: aliceblue;
}