* {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 1.1rem;
    font-family: 'Tajawal', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

body,
html {
    background-color: white;
    scroll-snap-type: y mandatory;
}

.container {
    height: 100vh;
}

.darkmodebody {
    filter: invert(1) hue-rotate(180deg);
    transition: .6s;

}





.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section{
    background-color: aliceblue;
}

.navigation {
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navigation-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
}

.logoimage {
    height: 6rem;

}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.nav-elements li a {
    padding: 1rem;
    text-decoration: none;
    color: rgb(55, 2, 85);
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-elements li a:hover {
    color: rgb(137, 0, 250);
    transition: .4s;
    transform: scale(2);
}

.nav-elements li:hover {
    transform: scale(1.1);
    transition: .4s;
}



.darkmode img {
    border: 3px solid black;
    height: 3rem;
    border-radius: 50%;


}

.darkmode:hover {
    transform: scale(1.1);
    filter: invert(0.5);
    transition: .7s;
}

.body-image img {
    margin-top: -1rem;
    margin-left: 20%;
    height: 80vh;
}


.body-description {
    padding: 4rem;
    font-size: 3rem;

}


.body-p {
    margin: 1rem 0rem 2rem 10%;
    font-size: 1.3rem;
    text-align: right;
}

.btn-give {
    margin: 1rem 3rem;
    padding: .5rem 1rem 1rem 1rem;
    background-color: rgb(0, 255, 55);
    font-size: 2rem;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.555);
    transition: 1s;
}

.btn-find {
    margin: 2rem 3rem;
    padding: .5rem 1rem 1rem 1rem;
    background-color: cyan;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.541);
    transition: 1s;
}

.btn-find:hover {
    background-color: black;
    transform: scale(1.1);
    transition: 1s;
    color: white;
    font-size: 2.03rem;
}

.btn-give:hover {
    background-color: black;
    transform: scale(1.1);
    transition: 1s;
    color: white;
    font-size: 2.03rem;
}



.section {
    height: 100vh;
    scroll-snap-align: start;

}


.tirth-section{
    background-color: aliceblue;
    position: relative;
}

.need-title{
    padding: 4rem 2rem 1rem 0rem;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(72, 0, 139);
}

.tirth-section p{
 color: rgb(111, 63, 126);
    padding: 0rem 2rem;
    float: right;
    font-size: 2rem;
    width: 75%;
}

.need-ul{
    padding: 1rem 6rem;
    width: 75vw;
    float: right;
    line-height: 3rem;

}

.need-li{
    font-size: 1.5rem;
    color: rgb(78, 80, 82)
    
}


.need-image img{
    height: 45rem;
    padding: 2rem 2rem;
    position: absolute;
    bottom: -2rem;
    left: -3rem;
    
}


.tri-wave{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
left: 0;
}



.fourt-section{
    background-image: linear-gradient(to bottom ,white, aliceblue);
}




.second-section{
    background-image: linear-gradient(to bottom ,white,white,  aliceblue);
}


.good-image {
    text-align: center;
}

.good-image img {
    height: 6rem;
    width: 6rem;

}

.good {

    height: 100%;
}

.good-title {
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(64, 6, 112);
}

.good-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good-element {
    margin-top: 3rem;
    padding: 0rem 4rem;
}



.good-element-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(4, 8, 139);
}

.good-element-description {
    font-size: 1rem;
    margin-top: .5rem;
    text-align: center;
    color: gray;
    font-weight: 600;

}

.svg-good {
    position: absolute;
    bottom: 0;
    left: 0;
}

.map-title{
    padding: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(69, 31, 100);
    text-align: center;
}

.maps{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.maps-des{
    background-color: blue;
}

.map {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    box-shadow: 3px 3px 10px lightgray;
}

.highter{
    height: 80vh;
}


.footer{
    position: relative;
    height: 20vh;
    background-color: lightcyan
}

.separator{
    width: 100%;
    height: .5rem;
    background-color: darkred;
}

.footer-items{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 1, 54);
}

.iner-footer-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-des{
    color: white;
    padding: 1rem;
    width: 40%;
    font-weight: 400;
}

.iner-footer-item div{
    color: rgb(219, 210, 210);
    padding: 1rem;
    font-weight: 400;
}

.copyright div {
    color: rgb(209, 197, 197);
} 

.copyright div a{
    color: rgb(255, 255, 255);
} 

.copyright{
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgb(2, 56, 87);
    font-weight: 400;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}