<!DOCTYPE HTML>
<html lang="ar">

<head>
    <title>Almotabari3.com</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel='icon' href='assest/_images/logo-donation.png'>
    <link rel='stylesheet' href='../assest/css/nav-style.css' type='text/css'>
    <link rel='stylesheet' href='../assest/css/footer-style.css' type='text/css'>
    <link rel='stylesheet' href='../assest/css/add-donor-style.css' type='text/css'>
</head>

<body>

    <!--START NAVIGATION-->
    <nav class='navigation' id="navigationx">
        <div onclick="nav_colaps()" class="ham">
            <div class="slice" ></div>
            <div class="slice" ></div>
            <div class="slice" ></div>
        </div>
        <ul id="nav_colapsing" class="nav-elements">
            <li >
                <div class="darkmode" onclick="darkmode();">
                    <image id="darkmodeimage" src="../assest/_images/darkmode.png"></image>
                </div>
            </li>
            <li>
                <a href="#opinions">حول المنصة</a>
            </li>
            <li>
                <a href="#map">مراكز التبرع</a>
            </li>
            <li>
                <a href="#steps"> عملية التبرع </a>
            </li>
            <li>
                <a href="#need">شروط التبرع</a>
            </li>
            <li>
                <a href="#good"> فوائد التبرع</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
            </li>
            <div id="close-nax-x" onclick="nav_colaps()" class="close-nav" >X</div>
        </ul>
        <div class='navigation-logo'>
            منصة المتبرع
            <image id="darkmodeimage2" class="logoimage" src='../assest/_images/logo-donation.png'></image>
        </div>
    </nav>
    <!--END NAVIGATION-->






















    <!--START FOOTER -->
    <div class="footer">
        <div class="footer-separator">
        </div>
        <div class="footer-info">
            <div class="external-links">
                <div class="footer-tiltel-tile">
                    روابط خارجية
                </div>
                <a href="">وزارة الصحة المغربية</a>
                <a href="https://www.who.int/ar">منضمة الصحة العالمية</a>
                <a href="https://www.who.int/ar/campaigns/world-blood-donor-day/2021">اليوم العالمي للمتبرع</a>

            </div>
            <div class="footer-btn">
                <div class="footer-tiltel-tile">
                    إستخدام الموقع
                </div>
                <button class="r">التسجيل كمتبرع</button>
                <button class="g">البحت عن متبرع </button>
            </div>
            <div class="footer-title">
                <div class="footer-tiltel-tile">
                    منصة المتبرع
                </div>
                <div class="footer-description">
                    الموقع عبارة عن منصة رقمية وطنية تهذف أساسا الى تسهيل و تسريع عملية التعار بين المحتاج و
                    المتبرع , بالإضافة الى نشر و التشجيع على تقافة التبرع بالم و التعريف بمراكز تحاقن الدم
                    القريبة...إلخ
                </div>
            </div>

        </div>


        <div class="copyright">
            <div class="item1">copyright Almotabari3 2022</div>
        </div>
    </div>
    <!--END FOOTER-->
</body>



    <script src="../assest/scripts/javascript/nav_colaps.js" ></script>
</html>